[Unit]
Description=python script that receives mqtt cmds and sends them to the robo via TCP
After=network.target

[Service]
ExecStart=/home/dietpi/mqtt-ur3-bridge/src/ur3-bridge/start.sh

WorkingDirectory=/home/dietpi/mqtt-ur3-bridge/src/ur3-bridge
StandardOutput=file:/home/dietpi/mqtt-ur3-bridge/src/ur3-bridge/log.out
StandardError=file:/home/dietpi/mqtt-ur3-bridge/src/ur3-bridge/log.err
Restart=always
User=dietpi

[Install]
WantedBy=multi-user.target